

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 34px;
  font-weight: 900;
  font-style: normal;
  color:   rgba(78, 71, 255, 1);
  line-height: 205%;
}

.raleway-bold{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: 25px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  color: #252432;
  
  
}

