

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color:   rgba(78, 71, 255, 1);
  font-size: 34px;
}

.raleway-bold{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  gap: 37px;
  margin-bottom: 0;
  
}
.banner{
    text-align: center;
  font-size: 65px ;
 margin: 240px 311.5px 219px;
 margin-bottom: 37px;
 gap: 37px;

}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;margin-right: 150px;
    
    
}
/* shared styles */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    
}
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right ;
    background-size: cover;
    width: 1500px;
    height: 741px;
}
